
.buttonAppointment {
    background-color: #d1ac66;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 300px;
}
.icon {
    color: white;
    font-size: 20px;
    padding-left: 10px;
}