.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
}

h1 {
    margin-top: 15px;
    font-size: 24px;
    color: #555;
    
}
.imagem {
    width: 200px;
    height: 200px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 14px;
    padding: 15px;
}

@media (min-width: 441px) and (max-width: 999px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1000px) {
    .welcome {
        width: 80vw;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagem {
        display: flex;

    }

    iframe {
        display: block;
    }

} 