.mapContainer {
  width: 100%;
}


.mapContainer iframe {
  width: 600px;
  height: 450px;
  border: 0;
  border: 3px solid #d1ac66;
  border-radius: 8px;
}


@media (max-width: 441px) {
  .mapContainer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .mapContainer iframe {
    width: 100%;
    height: 250px;
    margin: 15px;
  }
}

@media (min-width: 442px) {
  .mapContainer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .mapContainer iframe {
    width: 60%;
    max-height: 250px;
    margin: 35px;
  }
}