
.dinamicBox {
    position: relative;

}

.branco {
 clip-path: polygon(100% 0%, 0% 0% , 0.00% 65.26%, 1.00% 67.70%, 2.00% 70.04%, 3.00% 72.26%, 4.00% 74.35%, 5.00% 76.29%, 6.00% 78.06%, 7.00% 79.66%, 8.00% 81.06%, 9.00% 82.27%, 10.00% 83.26%, 11.00% 84.04%, 12.00% 84.59%, 13.00% 84.91%, 14.00% 85.00%, 15.00% 84.86%, 16.00% 84.48%, 17.00% 83.88%, 18.00% 83.06%, 19.00% 82.02%, 20.00% 80.77%, 21.00% 79.32%, 22.00% 77.68%, 23.00% 75.87%, 24.00% 73.90%, 25.00% 71.78%, 26.00% 69.53%, 27.00% 67.16%, 28.00% 64.71%, 29.00% 62.18%, 30.00% 59.59%, 31.00% 56.97%, 32.00% 54.33%, 33.00% 51.70%, 34.00% 49.09%, 35.00% 46.53%, 36.00% 44.03%, 37.00% 41.62%, 38.00% 39.32%, 39.00% 37.13%, 40.00% 35.08%, 41.00% 33.19%, 42.00% 31.46%, 43.00% 29.92%, 44.00% 28.57%, 45.00% 27.43%, 46.00% 26.49%, 47.00% 25.78%, 48.00% 25.30%, 49.00% 25.04%, 50.00% 25.02%, 51.00% 25.23%, 52.00% 25.66%, 53.00% 26.33%, 54.00% 27.22%, 55.00% 28.32%, 56.00% 29.63%, 57.00% 31.13%, 58.00% 32.82%, 59.00% 34.68%, 60.00% 36.70%, 61.00% 38.85%, 62.00% 41.14%, 63.00% 43.53%, 64.00% 46.01%, 65.00% 48.56%, 66.00% 51.16%, 67.00% 53.79%, 68.00% 56.42%, 69.00% 59.05%, 70.00% 61.65%, 71.00% 64.19%, 72.00% 66.66%, 73.00% 69.05%, 74.00% 71.32%, 75.00% 73.47%, 76.00% 75.48%, 77.00% 77.32%, 78.00% 79.00%, 79.00% 80.49%, 80.00% 81.78%, 81.00% 82.86%, 82.00% 83.73%, 83.00% 84.38%, 84.00% 84.80%, 85.00% 84.99%, 86.00% 84.95%, 87.00% 84.67%, 88.00% 84.17%, 89.00% 83.44%, 90.00% 82.49%, 91.00% 81.33%, 92.00% 79.96%, 93.00% 78.41%, 94.00% 76.67%, 95.00% 74.76%, 96.00% 72.70%, 97.00% 70.50%, 98.00% 68.19%, 99.00% 65.77%, 100.00% 63.27%);
    background-color: white;
    width: 100%;
    height: 16px;
    position: absolute;
    top: 0;
}

.dourado {
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 65.26%, 1.00% 67.70%, 2.00% 70.04%, 3.00% 72.26%, 4.00% 74.35%, 5.00% 76.29%, 6.00% 78.06%, 7.00% 79.66%, 8.00% 81.06%, 9.00% 82.27%, 10.00% 83.26%, 11.00% 84.04%, 12.00% 84.59%, 13.00% 84.91%, 14.00% 85.00%, 15.00% 84.86%, 16.00% 84.48%, 17.00% 83.88%, 18.00% 83.06%, 19.00% 82.02%, 20.00% 80.77%, 21.00% 79.32%, 22.00% 77.68%, 23.00% 75.87%, 24.00% 73.90%, 25.00% 71.78%, 26.00% 69.53%, 27.00% 67.16%, 28.00% 64.71%, 29.00% 62.18%, 30.00% 59.59%, 31.00% 56.97%, 32.00% 54.33%, 33.00% 51.70%, 34.00% 49.09%, 35.00% 46.53%, 36.00% 44.03%, 37.00% 41.62%, 38.00% 39.32%, 39.00% 37.13%, 40.00% 35.08%, 41.00% 33.19%, 42.00% 31.46%, 43.00% 29.92%, 44.00% 28.57%, 45.00% 27.43%, 46.00% 26.49%, 47.00% 25.78%, 48.00% 25.30%, 49.00% 25.04%, 50.00% 25.02%, 51.00% 25.23%, 52.00% 25.66%, 53.00% 26.33%, 54.00% 27.22%, 55.00% 28.32%, 56.00% 29.63%, 57.00% 31.13%, 58.00% 32.82%, 59.00% 34.68%, 60.00% 36.70%, 61.00% 38.85%, 62.00% 41.14%, 63.00% 43.53%, 64.00% 46.01%, 65.00% 48.56%, 66.00% 51.16%, 67.00% 53.79%, 68.00% 56.42%, 69.00% 59.05%, 70.00% 61.65%, 71.00% 64.19%, 72.00% 66.66%, 73.00% 69.05%, 74.00% 71.32%, 75.00% 73.47%, 76.00% 75.48%, 77.00% 77.32%, 78.00% 79.00%, 79.00% 80.49%, 80.00% 81.78%, 81.00% 82.86%, 82.00% 83.73%, 83.00% 84.38%, 84.00% 84.80%, 85.00% 84.99%, 86.00% 84.95%, 87.00% 84.67%, 88.00% 84.17%, 89.00% 83.44%, 90.00% 82.49%, 91.00% 81.33%, 92.00% 79.96%, 93.00% 78.41%, 94.00% 76.67%, 95.00% 74.76%, 96.00% 72.70%, 97.00% 70.50%, 98.00% 68.19%, 99.00% 65.77%, 100.00% 63.27%);
    background-color: #d1ac66;
    width: 100%;
    height: 15px;
    position: absolute;
    top: 3px
}
@media (min-width: 431px) and (max-width: 999px) {
    .dinamicBox {
        width: 95vw;
        margin: 0 20px;
    }

}

@media (min-width: 1000px) {
    .dinamicBox {
        width: 80vw;
    }
}