.footer {
  width: 100%;
  background-color: #faf6ef;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  gap: 20px;
}

.logo {
  width: 120px;
  height: 120px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info h3 {
  font-size: 18px;
  font-weight: 600;
  color: #c9a24d;
  margin-bottom: 8px;
}

.info p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}


.social p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

.icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.icons i {
  font-size: 22px;
  color: #d1ac66;
  cursor: pointer;
}


@media (min-width: 1000px) {
  .logo {
    width: 200px;
    height: 200px;
  }

  .info h3 {
    font-size: 22px;
  }
    
  .info p {
    font-size: 16px;
  }
}
