.card {
  position: relative;
  max-width: 300px;
  background-color: #faf6ef;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

.fechar {
  position: absolute;
  top: 12px;
  right: 12px;

  background: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #c9a24d;
  cursor: pointer;
  line-height: 1;
}

.imagem {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
}


.titulo {
  font-size: 18px;
  font-weight: 600;
  color: #c9a24d;
  letter-spacing: 1px;
}


.descricao {
  font-size: 15px;
  line-height: 1.6;
  color: #c9a24d;
  padding: 0 8px;
}


.botao {
  margin-top: auto;
  background: none;
  border: none;
  color: #c9a24d;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.botao:hover {
  text-decoration: underline;
}
.fechar {
  position: absolute;
  top: 12px;
  right: 12px;

  background: none;
  border: none;
  font-size: 18px;
  color: #c9a24d;
  cursor: pointer;
}

.fechar:hover {
  opacity: 0.7;
}

.card {
  position: relative;
}


@media (max-width: 441px) {
  .card {
   margin: 0 auto;
    margin-top: 30px;
  }
}
