header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    height: 100px;
    width: 100px
}

img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    i {
        color: #d1ac66;
    }
    background-color: transparent;
    border: none;
}
.socialIcons i {
     color: #d1ac66;
}

 

@media (min-width: 442px) and (max-width: 999px) {
    header {
        background-color: white;
         width: 95vw;
         padding: 0 20px;
        justify-content: space-around;
    }
    
    
}
@media (min-width: 1000px) {
    .socialIcons {
        display: none;
    }
   
    header {
        justify-content: space-around;
        width: 80vw;
    }
    .logo {
        height: 250px;
        width: 250px;
    }
} 