.navbar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
}


.links {
    display: flex;
    gap: 16px;
}

.links a {
    color: #555;
    text-decoration: none;
}


.menuButton {
    display: none;
    background: none;
    border: none;
    color: #555;
    font-size: 18px;
    cursor: pointer;
}


@media (max-width: 441px) {
    .menuButton {
        display: block;
    }

    .links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;

        display: none;
        flex-direction: column;
        padding: 12px 16px;
        z-index: 999;
    }

    .links a {
        padding: 8px 0;
    }

    .aberto {
        display: flex;
    }
}