* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #d1ac66;
}

@media (min-width: 431px) and (max-width: 999px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}