* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #555
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 442px) and (max-width: 999px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}